Markdown==3.9

markdown-it-py==4.0.0

MarkupSafe==3.0.3

packaging==25.0

PySocks==1.7.1

pyTelegramBotAPI==4.29.1

pytest-metadata==3.1.1

python-dotenv==1.1.1

python-telegram-bot==22.5

telebot==0.0.5

telegram==0.0.1

telegramApi==1.5
